body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

label {
  margin-top: 10px;
  display: block;
}

select,
input {
  margin-bottom: 10px;
  padding: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

#durchschnitt,
#erforderlicheNote {
  margin-top: 20px;
  font-weight: bold;
  color: #0066cc;
}

#notenListe,
#pruefungsDetails {
  margin-top: 10px;
  padding: 0;
}

#notenListe li,
#pruefungsDetails li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

#notenListe li {
  background-color: #f2f2f2;
}

#erforderlicheNote {
  color: #ff0000;
}

#logo {
  position: absolute;
  top: 5px;
  left: 1px;
  height: 10rem; 
}
